extends layout

block scripts
  script(src="/javascripts/views/index.js")

block content
  h1= title
  p If you have some modules on NPM, put your username to see some stats about them.

  form#user-form
    input.username(type="text")
    a.submit(href="#") Go