extends layout

block head
  meta(name="description", content="NPM stats displays metrics about npm modules")
  meta(name="keywords", content="npm, node, nodejs, node.js, stats, metrics, module")

block content
  h1= title

block links
  br
  br
  h3 Recently updated modules
  each module in updatedModules
    a(href="/~packages/" + module)=module
