extends layout

block head
  meta(name="description", content="NPN stats displays metrics about npm modules")
  meta(name="keywords", content="npm, node, nodejs, node.js, stats, metrics, module")

block content
  h1= title