doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    block content

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    block scripts