extends layout

block head
  meta(name="description", content="NPN stats about module " + repository)
  meta(name="keywords", content="npm, node, nodejs, node.js, stats, metrics, module, " + repository)
  | <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/javascripts/vendor/excanvas.min.js" /><![endif]-->
  script(language="javascript", type="text/javascript").
    window.repository = "#{repository}";

block scripts
  script var view = new RepositoryView();$(view.init);

block content
  h1=title
  div#loading
  div#repositories