extends layout

block head
  meta(name="description", content="NPN stats about user " + username)
  meta(name="keywords", content="npm, node, nodejs, node.js, stats, metrics, module, " + username)
  | <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/javascripts/vendor/excanvas.min.js" /><![endif]-->
  script(language="javascript", type="text/javascript").
    window.username = "#{username}";

  link(rel='stylesheet', href='/stylesheets/jquery.jqplot.min.css')
  link(rel='stylesheet', href='/stylesheets/jqplot.custom.css')

block scripts
  script(src="/javascripts/vendor/jquery.jqplot.min.js")
  script(src="/javascripts/vendor/jqplot.canvasAxisLabelRenderer.min.js")
  script(src="/javascripts/vendor/jqplot.canvasTextRenderer.min.js")
  script(src="/javascripts/vendor/jqplot.dateAxisRenderer.min.js")
  script(src="/javascripts/vendor/jqplot.highlighter.min.js")
  script(src="/javascripts/vendor/twttr.js")
  script(src="/javascripts/views/user.js")

block content
  h1=title
  div#loading
  div#user-info
  div.twitter-share.hide
  div#repositories
  a#show-more(href="#").hide Show more...
  div.twitter-share.hide